<div class="bg-red-700 text-white p-16 text-xl space-y-4 tracking-wide">
  <h2 class="font-bold text-4xl leading-snug">
    Partecipa alla presentazione gratuita su Il Potere della Mente Subconscia SU
    DI TE
  </h2>
  <p>Unisciti a noi e scopri informazioni reali e facili da capire su:</p>
  <ul class="list-disc list-inside pl-4 space-y-4">
    <li>Che cos’è esattamente la mente subconscia, inconscia o reattiva?</li>
    <li>In che modo ti infligge sentimenti indesiderati e ansia?</li><li>
      Cosa determina quanto stress la mente esercita su una persona?
    </li>
  </ul>
  <p>
    Non si tratta di una semplice conferenza. <span class="font-bold"
      >È dal vivo, interattiva—</span
    >e le tue domande sono benvenute in ogni momento. Non perdere questa
    occasione per scoprire come funziona davvero la tua mente e come, con
    Dianetics: La Forza del Pensiero sul Corpo, puoi imparare a prenderne il
    controllo.
  </p>
</div>
